/ai_agent/test.py
/transform_data_bank_pay/test.py
/extract_data_bank_pay/setup_gmail_watch.py
/extract_data_gmail/test.py
/extract_data_gmail/test2.py
/extract_data_gmail/test3.py
/extract_data_gmail/test4.py
/extract_data_gmail/test5.py
/extract_data_gmail/evento.json
/extract_data_gmail/test_pubsub.py
/gmail_watcher/test.py
/pdfs_carrefour/
resumen_tarjeta_bna.pdf
resumen_tarjeta_frances.pdf
resumen_tarjeta_santander_amex.pdf
resumen_tarjeta_santander_visa.pdf