/ai_agent/test.py
/extract_data_pdf/upd_gcp_token.py
/extract_data_pdf/token.json
/extract_data_pdf/credentials.json
/extract_data_pdf/test.py
/transform_data_bank_pay/test.py
/extract_data_bank_pay/setup_gmail_watch.py
/redshift_to_bq/test.py
/pdfs_carrefour/
/extract_data_gmail/evento.json
/extract_data_gmail/test_pubsub.py
/gmail_watcher/test.py